@font-face {
  font-family: "GT-Walsheim-Regular";
  src:
    url('https://app.optilistic.com/fonts/GT-Walsheim-Thin.woff2') format('woff2'),
    url('https://app.optilistic.com/fonts/GT-Walsheim-Thin.woff') format('woff'),
    url('https://app.optilistic.com/fonts/GT-Walsheim-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "GT-Walsheim-Regular";
  src:
    url('https://app.optilistic.com/fonts/GT-Walsheim-Light.woff2') format('woff2'),
    url('https://app.optilistic.com/fonts/GT-Walsheim-Light.woff') format('woff'),
    url('https://app.optilistic.com/fonts/GT-Walsheim-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "GT-Walsheim-Regular";
  src:
    url('https://app.optilistic.com/fonts/GT-Walsheim-Regular.woff2') format('woff2'),
    url('https://app.optilistic.com/fonts/GT-Walsheim-Regular.woff') format('woff'),
    url('https://app.optilistic.com/fonts/GT-Walsheim-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GT-Walsheim-Regular";
  src:
    url('https://app.optilistic.com/fonts/GT-Walsheim-Medium.woff2') format('woff2'),
    url('https://app.optilistic.com/fonts/GT-Walsheim-Medium.woff') format('woff'),
    url('https://app.optilistic.com/fonts/GT-Walsheim-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
