#audit-report > section, .Section {
  @apply px-4 sm:px-12 mx-auto max-w-3xl bg-light dark:bg-gray-800;
  @apply border-b-2 border-r-2 border-gray-200 dark:border-none;
  border-radius: 1px;
}

#audit-report > section + section {
  @apply mt-1;
}

.Copy p,
.Copy ol,
.Copy ul {
  @apply font-ui text-base sm:text-lg;
}

.Copy p:first-child,
.Copy ol:first-child,
.Copy ul:first-child {
  @apply mt-0;
}


.Copy h2 {
  @apply text-3xl sm:text-4xl font-medium;
}
.Copy h3 {
  @apply text-2xl sm:text-3xl font-medium;
}

.Copy p {
  @apply mt-8 leading-loose sm:leading-loose;
}

.Copy p > code,
.Copy ul code {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(99,110,123,0.4);
  border-radius: 6px;
}

.Copy > pre {
  @apply mt-8 p-4;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #343534;
  border-radius: 2px;
}

.Copy > ul, .Copy > ol {
  @apply mt-8 pl-8 space-y-4;
  list-style: disc;
}
.Copy > ol {
  list-style: decimal;
}
.Copy > p + ul, .Copy > p + ol {
  @apply mt-8;
}
.Copy ul ul, .Copy ol ol {
  @apply mt-0;
}
.Copy ul > ul > li {
  list-style: circle;
}
