.Copy a {
  @apply text-blue-600 hover:underline;
}

.Copy p,
.Copy ol,
.Copy ul {
  @apply text-base sm:text-lg;
}

.Copy.--sm p,
.Copy.--sm ol,
.Copy.--sm ul {
  @apply text-sm;
}

.Copy h2 {
  @apply mt-10 -mb-2 text-2xl sm:text-3xl font-bold;
}
.Copy h3 {
  @apply mt-10 -mb-2 text-xl sm:text-2xl font-medium;
}

.Copy.--sm h2 {
  @apply mt-6 -mb-2 text-xl font-bold;
}
.Copy.--sm h3 {
  @apply mt-6 -mb-2 text-lg font-medium;
}

.Copy p {
  @apply mt-4;
}

.Copy p > code,
.Copy ul code,
.Copy ol code,
.Copy h1 code,
.Copy h2 code,
.Copy h3 code,
.Copy h4 code,
.IssueTitle code {
  @apply bg-gray-200/75 dark:bg-gray-700;
  padding: .2em .4em;
  margin: 0;
  font-size: 80%;
  border-radius: 6px;
}

.Copy > pre {
  @apply mt-8 p-4 bg-gray-200/25 dark:bg-gray-700/75 rounded-sm;
  overflow: auto;
  font-size: 80%;
  line-height: 1.45;
}

.Copy ul, .Copy ol {
  @apply mt-6 pl-8 space-y-4;
  list-style: disc;
}
.Copy.--sm ul, .Copy.--sm ol {
  @apply mt-4 pl-4 space-y-2;
}
.Copy > ol {
  list-style: decimal;
}

.Copy ul ul, .Copy ol ol,
.Copy ul ol, .Copy ol ul,
.Copy ul ul:first-child, .Copy ol ol:first-child, /* Necessary to override other mt-0 rule */
.Copy ul ol:first-child, .Copy ol ul:first-child /* Necessary to override other mt-0 rule */
{
  @apply mt-4 mb-5;
}
.Copy ul > ul > li {
  list-style: circle;
}

.Copy blockquote {
  @apply mt-8 px-4 py-2 border-l-4 dark:border-gray-600 opacity-75;
}
.Copy blockquote p,
.Copy blockquote ul li,
.Copy blockquote ol li {
  @apply leading-snug;
}

.Copy blockquote ul,
.Copy blockquote ol {
  @apply pl-4;
}

.Copy p:first-child,
.Copy ol:first-child,
.Copy ul:first-child,
.Copy h2:first-child,
.Copy h3:first-child,
.Copy.--sm h2:first-child,
.Copy.--sm h3:first-child
{
  @apply mt-0;
}
