@font-face {
  /* Regular */
  font-family: "Kievit W01";
  font-weight: 400;
  src: url("/library/fonts/Kievit-W01-Regular.woff2") format("woff2"),url("/library/fonts/Kievit-W01-Regular.woff") format("woff");
}
@font-face {
  /* Italic */
  font-family: "Kievit W01";
  font-weight: 400;
  font-style: italic;
  src: url("/library/fonts/Kievit-W01-Italic.woff2") format("woff2"),url("/library/fonts/Kievit-W01-Italic.woff") format("woff");
}
@font-face {
  /* Medium */
  font-family: "Kievit W01";
  font-weight: 500;
  src: url("/library/fonts/Kievit-W01-Medium.woff2") format("woff2"),url("/library/fonts/Kievit-W01-Medium.woff") format("woff");
}
@font-face {
  /* Bold */
  font-family: "Kievit W01";
  font-weight: 700;
  src: url("/library/fonts/Kievit-W01-Bold.woff2") format("woff2"),url("/library/fonts/Kievit-W01-Bold.woff") format("woff");
}
